/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* FULL LAYAR + BACKGROUND */
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background: url("foto.png") repeat-x;
  background-size: auto 100%;
  background-position: 0 0;
  animation: bgGerakStabil 20s linear infinite;
   width: 100%;
  height: 100%;
}

@keyframes bgGerakStabil {
  0%   { background-position: 0 0; }
  100% { background-position: -300% 0; }
}




/* HEADER */
header {
  background: linear-gradient(90deg,var(--nav),#06294b);
  padding: 16px 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  width: 100%;
}

.header-inner {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-weight: 900;
  font-size: 26px;
  background: linear-gradient(90deg,#fff,var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.logo-img {
  height: 100px;
  width: auto;
   display: flex;
  align-items: center;


  /* Efek biar logo lebih terlihat */
  filter: drop-shadow(0 0 6px rgba(15, 15, 15, 0.977))
          drop-shadow(0 0 14px rgba(9, 9, 9, 0.8))
          drop-shadow(0 0 25px rgba(11, 11, 11, 0.6));

  transition: 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 10px rgb(250, 221, 3))
          drop-shadow(0 0 20px rgb(252, 190, 3))
          drop-shadow(0 0 35px rgba(207,167,44,0.8));
}

/* NAV */
nav a {
  color:#fff;
  text-decoration:none;
  margin-left:12px;
  font-weight:600;
  position: relative;
  padding: 6px 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

nav a:hover {
  background:var(--accent);
  color: #fff;
  transform: scale(1.08);
  box-shadow: 0 0 15px rgba(251, 250, 250, 0.98);
}

nav a::after {
  content:"";
  position:absolute;
  left:0;
  bottom:-4px;
  width:0%;
  height:2px;
  background:var(--accent);
  transition:0.3s;
}

/* MAIN FULL LAYAR */
main {
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 17px;

  /* Efek menyatu */
  background: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.45);
}


/* HERO */
.hero {
  color: #fff;
  border-radius: 14px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.45);
  animation: heroFade 1s ease-in-out;
}

@keyframes heroFade {
  from {opacity:0;transform:translateY(20px);}
  to {opacity:1;transform:translateY(0);}
}

.hero h1 {
  color: #cfc8c8;
  text-shadow: 5px 5px #558abb;
}

/* GRID */
.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

/* CARD */
.card {
  background: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.45);
  animation: cardFade 1s ease-in-out;
}

@keyframes cardFade {
  from {opacity:0;transform:translateY(20px);}
  to {opacity:1;transform:translateY(0);}
}

.card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 12px 30px rgba(243, 241, 241, 0.25);
  border-color: var(--accent);
}

/* TABLE */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th, .table td {
  border: 1px solid rgba(255,255,255,0.12);
  padding: 10px;
}

/* FORM */
label {
  display:block;
  margin-bottom:6px;
  font-weight:600;
}

/* Input & Textarea Transparan */
input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.2);

  background: rgba(255, 255, 255, 0.08);   /* transparan */
  color: #fff;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  outline: none;
}


/* FOOTER */
footer {
  width:100%;
  text-align:center;
  padding:20px 10px;
  color: #fff;
  font-weight: 700;
}

/* RESPONSIVE */
@media (max-width:600px) {
  .header-inner {
    flex-direction: column;
    gap: 10px;
  }

  nav a {
    margin: 0 8px;
  }

  main {
    margin: 15px;
    padding: 16px;
  }
}

.badge{
    display:inline-block;
    background: rgba(255, 255, 255, 0.08);
    color:#fafcfe;
    padding:6px 8px;
    border-radius:6px;
    font-weight:700;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.badge:hover {
    border: 1px solid rgba(255,255,255,0.2);

  background: rgba(255, 255, 255, 0.08);
  color: #fff;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  outline: none;
    transform: scale(1.07);
    box-shadow: 0 6px 18px rgba(255, 255, 255, 0.25);
}



@media (max-width:600px)
{
.header-inner{flex-direction:column;
gap:8px}nav a{margin:0 6px}main{margin:12px;
padding:14px}}

input[type=submit]{
border: 1px solid rgba(255,255,255,0.2);
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  outline: none;
  border-radius: 6px;
  box-shadow: #fff ;
    padding:10px 14px;
    font-weight:700;
    cursor:pointer}

input[type=submit]:hover{

    opacity:0.95;
    transform: scale(1.02);
    box-shadow: 0 6px 18px rgba(250, 6, 6, 0.25);
}

h2 {
  text-shadow: 5px 5px #558abb;
  font-weight: 500;
}

@media (max-width: 600px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
  }

  .logo-img {
    height: 75px;
  }
}

ul,li {
  list-style: none;
}